<html ng-app="app">
    <head>
        <title>Angular-Loading Demo</title>
        <link type="text/css" rel="StyleSheet" href="node_modules/font-awesome/css/font-awesome.css"/>
    </head>
    <body ng-controller="BodyController as bodyCtrl">
        <loading></loading>
        <h1>Angular-Loading Demo</h1>
        <p>
            Click this button to display loading for <input type="number" ng-model="bodyCtrl.timer"/> second: <button ng-click="bodyCtrl.showLoading()">Test</button>
        </p>
        <p>
            Is loading: {{bodyCtrl.loadingService.isLoading}}
        </p>

        <script type="text/javascript" src="node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="angular-loading.js"></script>
        <script type="text/javascript">

                var app = angular.module("app", [
                    'angular-loading'
                ]);

                app.config(['LoadingServiceProvider',
                    function (loadingServiceProvider) {

                        loadingServiceProvider.setOverlayOpacity(0.1);
                        loadingServiceProvider.setFrameOpacity(0.8);
                        loadingServiceProvider.setIcon("fa-spinner");
                        //loadingServiceProvider.setIcon("fa-circle-o-notch");

                    }
                ]);

                app.controller("BodyController", ["$timeout", "LoadingService",
                    function ($timeout, loadingService) {

                        var that = this;
                        that.loadingService = loadingService;
                        that.timer = 1;
                        
                        that.showLoading = function() {
                            loadingService.setLoading(true);
                            $timeout(function() {
                                loadingService.setLoading(false);
                            }, that.timer * 1000);
                        };
                        
                    }
                ]);

        </script>
    </body>
</html>
<!--+
    | vim: ts=4 et nowrap autoindent
    +-->
